*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 2px red;
}

body{
  background-color: #051118;
}

header{
  background-color: white;
}

#logo{
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
}

.container{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
}