*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
}

header{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

#logo{
  margin-left: 30px;
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
}

hr{
  color: #f6f8f9;
  border: solid 2px;
}

ul{
  list-style: none;
}

.container{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
}

.blue-button{
  margin: 20px 5px 10px 50px;
  padding: 5px;
  color: white;
  background-color: #47adf1;
  border: solid 1px #47adf1;
  border-radius: 7px;
}

.grey-button{
  padding: 5px;
  color: #d4d8dc;
  background-color: white;
  border: solid 1px #d4d8dc;
  border-radius: 7px;
}

.list-title{
  padding-left: 50px;
}